@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

html {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    color: var(--dark-grayish-blue);
}

h2 {
    font-size: 2em;
}

p {
    color: var(--grayish-blue);
}

body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Header */
.header-section {
    max-width: 650px;
    margin: 130px auto;
    text-align: center;
}

.logo-container {
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.2em;
}

.header-description {
    margin: 0 auto 50px auto;
}

.ios-btn {
    background-color: var(--strong-cyan);
    border-bottom: 3px solid hsla(172, 70%, 22%, 0.64);
    box-shadow: hsl(171, 66%, 44%, 0.5) 0px 8px 20px -3px, hsl(171, 66%, 44%, 0.5) 0px 4px 4px -2px;
}

.mac-btn {
    background-color: var(--light-blue);
    border-bottom: 3px solid hsla(233, 45%, 44%, 0.64);
    box-shadow: hsl(233, 100%, 69%, 0.5) 0px 8px 20px -3px, hsl(233, 100%, 69%, 0.5) 0px 4px 4px -2px;
}

.ios-btn,
.mac-btn {
    color: white;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 35px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

/* Section 1 */
.section-1 {
    position: relative;
    margin-bottom: 100px;
}

.header-container {
    margin: 0 auto 50px auto;
    max-width: 680px;
    text-align: center;
}

.header-container h2 {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.section-1 .img-container {
    max-width: 50%;
    position: relative;
    left: -30px;
}

.content-wrapper {
    max-width: 50%;
    margin-left: 40px;
    padding: 0 40px 0 30px;

    display: flex;
    flex-direction: column;
    gap: 45px;
}

.content-wrapper h3 {
    margin-bottom: 8px;
}

.content-wrapper p {
    font-size: 0.8em;
}

/* Section 2 */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

/* Section 3 */
.grid-container {
    margin: 0 auto;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Logo section */
.logos-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}

/* Section 4 */
.section-4 .buttons-container {
    margin-bottom: 200px;
}

/* Footer */
.footer-section {
    height: 150px;
    padding: 20px;
    background-color: #F5F6F8;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 80px;
}

.footer-content a {
    color: darkslategray;
}

.logo-container-footer {
    max-width: 50px;
    max-height: 50px;
}

.logo-container-footer img {
    width: 100%;
}

.icons-container-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Media Queries */

@media(max-width: 1160px) {
    .section-1 .img-container {
        max-width: 100%;
        left: 0;
    }

    .section-1 .img-container img,
    .section-2 .img-container img {
        width: 100%;
        max-width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .grid-container {
        max-width: 500px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .logos-container {
        /* flex-direction: column;
        align-items: center; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

}

@media(max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-1 .img-container {
        max-width: 100%;
        left: 0;
        text-align: center;
        margin-bottom: 50px;
    }

    .footer-content {
        row-gap: 20px;
        column-gap: 30px;
    }
}

@media(max-width: 375px) {
    body {
        background-image: url(images/bg-header-mobile.png);
        background-size: contain;
    }

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .logo-section {
        padding: 20px;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.85em;
    }

    .header-section {
        max-width: 90%;
        margin: 80px auto;
    }

    .buttons-container {
        flex-direction: column;
        gap: 25px;
    }

    .content-wrapper {
        max-width: 100%;
        margin-left: 0;
        padding: 0 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .logos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-section {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }

    .logo-container-footer {
        max-width: 40px;
        max-height: 40px;
        margin-bottom: 40px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .icons-container-footer {
        gap: 40px;
        margin-top: 40px;
    }
}